.auto-add-configs {
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  padding: 4px;
  font-size: small;
  width: 200px;
}

.auto-add-scene-tag{
  color: #6c757d;
  background-color: rgb(215, 252, 191);
  padding: 2px;
  border-radius: 4px;
  font-size: 10px;
  svg{
    width: 10px;  
    height: 10px;
    stroke: #339609;
  }
}