.ClaymateApp .container {
  bottom: 120px;
}

.ClaymateApp .container .App-menu__left {
  max-height: calc(100vh - 120px - 236px);
}

.ClaymateApp .container .App-menu_bottom {
  bottom: 120px;
}

.ClaymateApp .container footer * {
  bottom: 120px;
}
