.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 2px;
  height: 100vh;
}

.App .toolbar {
  grid-column: 1 / span 2;
  margin: 2px;
}

.App .svg {
  user-select: none;
}

.App .snapshots {
  overflow-y: scroll;
}
