.ClaymateApp .excalidraw .App-menu_bottom {
  bottom: 120px;
}

.ClaymateApp .excalidraw .layer-ui__wrapper__footer {
  bottom: 120px;
}

.ClaymateApp .excalidraw .App-bottom-bar {
  bottom: 120px;
}

.ClaymateApp .excalidraw .App-menu__left {
  max-height: calc(100vh - 120px - 200px);
}
